.container-lineImage {
    width: 100%;
    display: flex;
    gap: 1rem;
    position: relative;
    @media (max-width: 768px) {
        overflow: scroll;
    }

    a {
        width: auto;
        cursor: pointer;
        overflow: hidden;
        @media (max-width: 768px) {
            min-width: 38%;
        }
        @media (max-width: 484px) {
            min-width: 65%;
        }
        
        .image {
            transition-duration: .3s;
            display: block;
            width: 100%;
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }
}

.container-lineImage + .container-lineImage {
    margin: 1rem 0 0;
}