mixin listCards(infos)
    p.textColor.poppins-light os melhores jeans estão aqui na dafiti! <span class="poppins-semibold">ENCONTRE O SEU :)</span>
    .listCards
        each info in infos
            a.card.btn_ga_click(href=info.link, rel="noopener noreferrer" onclick="sendClickEventGA(this)")
                .img
                    img(src=info.img, alt=info.text)
                .boxText
                    p.text.baskervville-regular= info.text