@use './../styles/imports.scss' as imports;
@use './../styles/fonts.scss' as fonts;

.dafitiStructure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}