//- Imports templates
include templates/teste/index.pug

//- Imports components
include components/welcome/index.pug
include components/lineImage/index.pug
include components/linkImage/index.pug
include components/dashed-text/index.pug
include components/listInfos/index.pug
include components/listCards/index.pug