//- Imports templates
include templates/teste/index.pug

//- Imports components
include components/welcome/index.pug
include components/lineImage/index.pug
include components/image/index.pug
//- include components/teste/index.pug