include views/imports

doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Estrutura Dafiti
        link(rel="stylesheet" href="styles/main.css")
        //- link(rel="stylesheet", href="external/style.css")

    body(style="box-sizing: border-box; margin: 0; padding: 0;")
        .dafitiStructure
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

            +linkImage(
                'https://www.dafiti.com.br/promocao/masculino/jeans-geral/',
                [{
                    srcDesk: 'https://dafitistatic.dafiti.com.br/cms/2025_04_28_10_00_43_Banner_DESK.png',
                    srcMob: 'https://dafitistatic.dafiti.com.br/cms/2025_04_28_10_00_40_Banner_MSITE.png'
                }],
                'Descrição'
            )

            +dashed-text('o seu corpo, no seu jeans.')

            +listInfos(
                [
                    {
                        img: 'https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/1b77716aa3d33__icon-frete-gratis.svg',
                        text: 'Frete grátis*'
                    },
                    {
                        img: 'https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/f5965fda82c__icon-troca-gratis.svg',
                        text: 'Troca grátis'
                    },
                    {
                        img: 'https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/33b9ca606c3e9__icon.svg',
                        text: 'Coleta para trocas'
                    },
                    {
                        img: 'https://dafitistatic.dafiti.com.br/cms/2025_04_28_10_58_48_33b9ca606c3e9__icon.svg',
                        text: 'Descontos'
                    },
                    {
                        img: 'https://dafitistatic.dafiti.com.br/cms/2025_04_28_10_58_47_2130b30554cb4__icon-ate-6x-sem-juros.svg',
                        text: 'Marcas exclusivas'
                    },
                    {
                        img: 'https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/2130b30554cb4__icon-ate-6x-sem-juros.svg',
                        text: 'Até 8x sem juros'
                    },
                    {
                        img: 'https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/b14a378ac89c__union.svg',
                        text: 'Entrega rápida'
                    },
                    {
                        img: 'https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/247a0f56fef9b__icon-excelente-atendimento.svg',
                        text: 'Excelente atendimento'
                    },
                    {
                        img: 'https://dafitistatic.dafiti.com.br/dynamic_yield/cms/static/dafiti/images/1e3b02903cd00__eco.png',
                        text: 'Moda Sustentável'
                    }
                ]
            )

            +listCards(
                [
                    {
                        link: 'https://www.dafiti.com.br/promocao/masculino/jeans-slim/',
                        img: 'https://dafitistatic.dafiti.com.br/cms/2025_04_28_10_00_37_Slim.png',
                        text: 'Slim'
                    },
                    {
                        link: 'https://www.dafiti.com.br/promocao/masculino/jeans-skinny/',
                        img: 'https://dafitistatic.dafiti.com.br/cms/2025_04_28_10_00_35_Skinny.png',
                        text: 'Skinny'
                    },
                    {
                        link: 'https://www.dafiti.com.br/promocao/masculino/jeans-reta/',
                        img: 'https://dafitistatic.dafiti.com.br/cms/2025_04_28_10_00_33_Reta.png',
                        text: 'Reta'
                    },
                    {
                        link: 'https://www.dafiti.com.br/promocao/masculino/jeans-chino/',
                        img: 'https://dafitistatic.dafiti.com.br/cms/2025_04_28_10_00_30_Chino.png',
                        text: 'Chino'
                    },
                    {
                        link: 'https://www.dafiti.com.br/promocao/masculino/jeans-sarja/',
                        img: 'https://dafitistatic.dafiti.com.br/cms/2025_04_28_10_00_26_Sarja.png',
                        text: 'Sarja'
                    },
                    {
                        link: 'https://www.dafiti.com.br/promocao/masculino/jeans-cargo/',
                        img: 'https://dafitistatic.dafiti.com.br/cms/2025_04_28_10_00_23_Cargo.png',
                        text: 'Cargo'
                    },
                ]
            )

    //- script(src="external/scripts.js")
    script(src="js/main.js")
